In [3]:
samir=[5000,4500,4000,10000]
total_expense=0

In [4]:
for i in samir:
    print(i)
   #total_expense = total_expense +i
    total_expense += i
    print(total_expense)

5000
5000
4500
9500
4000
13500
10000
23500

In [26]:
samir=[5000,4500,4000,10000]

In [27]:
total_expense = 0

In [11]:

for i in samir:
    #total_expense = total_expense + i
    total_expense += i
print(total_expense)

47000

# function(defnation)
functions(excution)
functions(calling)

In [5]:
samir = [5000,4000,4500,10000]
tejas = [2500,5000,7000,4500]
akash = [2500,5000,7000,4500,5000,4500,4000,10000]

In [12]:
def expense(name):
    total_expense = 0
    for i in name:
         total_expense += i
    print(total_expense)

In [13]:
expense (samir)

23500

In [14]:
expense (tejas)

19000

In [15]:
expense (akash)

42500

In [26]:
def add(a,b,c,d,e):
     return a,b,c,d,e

In [27]:
add(5,7,8,9,4)

(5, 7, 8, 9, 4)

In [28]:
add('s',"sagfdhg",4.1,8,9)   # string flot int add

('s', 'sagfdhg', 4.1, 8, 9)

In [29]:
add('abc','sam','jjk','xyz','lmn')

('abc', 'sam', 'jjk', 'xyz', 'lmn')

In [30]:
def add(*a):          #* means i kiti pn add kel tri add hot * mul
    return a

In [31]:
add('sam','abc')

('sam', 'abc')

In [ ]:
def add(*args)  # i can enter multiple information

In [ ]:
def add (*args ,*kwargs)
#(*arguments , ** keywordarguments)

In [50]:
l = []
l

[]

In [51]:
l.append(12)
l

[12]

In [93]:
l=[]
def appendd(*a):
   # l=[]
    for i in a:
        l.append(i)
    return l

In [94]:
appendd(1,2,3,4)

[1, 2, 3, 4]

In [95]:
appendd(5,6,7,8)

[1, 2, 3, 4, 5, 6, 7, 8]