# String Method

In [32]:
name = "python"

In [33]:
def variable (string):
    try:
        print (string)
    except exception as e:
        print(e)
variable (name)

python

 # type :

In [34]:
name = "python"

In [35]:
print(type(name))

<class 'str'>

In [36]:
def variable (variable):
    try:
        print(type(variable)) 
    except exception as e:
        print(e)
variable (name)

<class 'str'>

# min : min() method return the lowest  value from the given itreable or multiple  argumennts.

In [6]:
pq = ['def','ghi','opq']

In [7]:
print(min(pq))

def

In [9]:
def minimum(num):
    try:
        print(min(num))
    except Exception as e:
            print(e)
minimum(pq)

def

In [37]:
book = "thisisclass"

In [38]:
print(min(book))

a

In [39]:
 try:
    print(min(book))
except Exception as e:
    print(e)

a

In [23]:
def minimum(num):
    try:
        print(min(num))
    except Exception as e:
            print(e)
minimum(book)

a

# max : the max() method returns the largest value from the specified iterable or multiple arguments.

In [40]:
self = ['data','science','class']
print(max(self))

science

In [41]:
def maximum(variable):
    try:
        print(max(variable))
    except Exception as e:
            print(e)
maximum(self)

science

# len : the len() function returns the object. it returns total elements in an iterable or number of chars in a string.

In [42]:
name = "shraddha"

In [43]:
print(len(name))

8

In [44]:
def string(num):
    try:
        print(len(num))
    except Exception as e:
            print(e)
string(name)

8

In [ ]:
# find

In [45]:
name = "stringmethod"
print(name.find("th"))

8

In [48]:
def find(num):
    try:
        print(num.find("th"))
    except Exception as e:
            print(e)
find(name)

8

# strip() : Returns the string with both leading and trailing characters

In [49]:
name = " shraddha " 
print(name.strip())

shraddha

In [50]:
def string(num):
    try:
        print(num.strip())        
    except Exception as e:
            print(e)
string(name)

shraddha

# rstrip() : Removes trailing characters

In [51]:
variable = "java coding   " 
print(name.rstrip())

 shraddha

In [53]:
def string(save):
    try:
        print(save.rstrip())        
    except Exception as e:
            print(e)
string(variable)

java coding

# lstrip() : Returns the string with leading characters removed

In [55]:
l = "   science and technology"
print(l.lstrip())

science and technology

In [56]:
def string(character):
    try:
        print(character.lstrip())        
    except Exception as e:
            print(e)
string(l)

science and technology

# count() : Returns the number of occurrences of a substring in the string.

In [60]:
name1 = ("pythonpythonpython")
print(name1.count("th"))

3

In [63]:
def function(method):
    try:
        print(method.count("th"))
    except Exception as e:
            print(e)
function(name1)

3

In [64]:
c = "hello word"

In [65]:
print(c.count("o"))

2

In [66]:
def function(numbers):
    try:
        print(numbers.count("o"))
    except Exception as e:
            print(e)
function(c)

2

# upper() : Converts all lowercase characters in a string into uppercase

In [67]:
variable =("this is file")

In [68]:
print(variable.upper())

THIS IS FILE

In [69]:
def function(method):
    try:
        print(method.upper())
    except Exception as e:
            print(e)
function(variable)

THIS IS FILE

# lower(): Converts all uppercase characters in a string into lowercase

In [70]:
s = ("DATA SCIENCE")

In [73]:
print(s.lower())

data science

In [75]:
def function(num):
    try:
        print(num.lower())
    except Exception as e:
            print(e)
function(s)

data science

# title(): Convert string to title case

In [76]:
value = "samir"
print(value.title())

Samir

In [77]:
def function(variable):
    try:
        print(variable.title()) 
    except Exception as e:
            print(e)
function(value)

Samir

In [80]:
mystr = "HELLO JAVA"

In [81]:
print(mystr.title())

Hello Java

In [82]:
def function(variable):
    try:
        print(variable.title()) 
    except Exception as e:
            print(e)
function(mystr)

Hello Java

#  swapcase() : Converts all uppercase characters to lowercase and vice versa

In [83]:
string = "python"

In [85]:
string.swapcase()

'PYTHON'

In [86]:
def swapcase(case):
    try:
        print(case.swapcase())
    except Exception as e:
            print(e)
swapcase(string)

PYTHON

# capitalize () : Converts the first character to uppercase

In [89]:
g = "logged in"

In [90]:
print(g.capitalize())

Logged in

In [91]:
def capitalize(method):
    try:
        print(method.capitalize())
    except Exception as e:
        print(e)
capitalize(g)

Logged in

# replace() : Replaces all occurrences of a substring with another substring

In [95]:
data = "Hello Python.Hello Java.Hello C++"

In [96]:
print(data.replace("Hello","Bye"))

Bye Python.Bye Java.Bye C++

In [97]:
def Replace(method):
    try:
        print(method.replace("Hello","Bye"))
    except Exception as e:
        print(e)
Replace(data)

Bye Python.Bye Java.Bye C++

# center () : Returns a centered string

In [101]:
x = "Hello"

In [102]:
file = x.center(10,"-")

In [103]:
print(file)

--Hello---

In [105]:
def center(variable):
    try:
        print(variable)
    except Exception as e:
        print(e)
center(file)

--Hello---

# split : split the string at the specified at the separator,and return a list.

In [110]:
variable = "learning python"
print(variable.split())

['learning', 'python']

In [111]:
def split(classes):
    try:
        print(classes.split()) 
    except Exception as e:
        print(e)
split(variable)

['learning', 'python']

# isspace() : Returns “True” if all characters in the string are whitespace characters

In [112]:
txt = " "

In [113]:
y = txt.isspace()

In [31]:
print(y)

True

In [114]:
def isspace(method):
    try:
        print(method)
    except Exception as e:
        print(e)
isspace(y)

True